@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #111;
  --background: #fff;
  --accent-col: #2dcdff;
  --yellow-col: #e6e635;
  --green-col: #a3e635;
  --cyan-col: #35e6ab;
  --sky-col: #27f3f3;
  --pink-col: #eb2fab;
  --bg-col-light: #eee;
}

html {
  scroll-behavior: smooth !important;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #fff;
    --background: #000;
    --cream: #fefbea;
    --accent-col: #2dcdff;
    --yellow-col: #e6e635;
    --green-col: #a3e635;
    --cyan-col: #35e6ab;
    --sky-col: #27f3f3;
    --pink-col: #eb2fab;
    --bg-col-light: #222;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

.fill-auto {
  fill: var(--background) !important;
}
.color-auto {
  color: var(--foreground);
}

body::-webkit-scrollbar {
  width: 0.25rem !important;
}

body::-webkit-scrollbar-track {
  background: var(--bg-col-light);
}

body::-webkit-scrollbar-thumb {
  background: var(--accent-col) !important;
  border-radius: 10px !important;
}

.nice-scroll-bar::-webkit-scrollbar {
  width: 0.25rem !important;
}

.nice-scroll-bar::-webkit-scrollbar-track {
  background: var(--bg-col-light);
}

.nice-scroll-bar::-webkit-scrollbar-thumb {
  background: var(--accent-col) !important;
  border-radius: 10px !important;
}

.override-scroll-bar ul::-webkit-scrollbar {
  width: 0.25rem !important;
}

.override-scroll-bar ul::-webkit-scrollbar-track {
  background: #eee;
}

.override-scroll-bar ul::-webkit-scrollbar-thumb {
  background: var(--accent-col) !important;
  border-radius: 10px !important;
}
